accelerate
appdirs
loralib
git+https://github.com/mzbac/bitsandbytes.git
black
black[jupyter]
datasets
fire
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git
sentencepiece
gradio
sentencepiece