accelerate
appdirs
loralib
git+https://github.com/TimDettmers/bitsandbytes.git@5e456be50e66a266d4c36e8e405c11f634edb8f0
black
black[jupyter]
datasets
fire
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git
sentencepiece
gradio
sentencepiece